.bio-main-div {
  height: 60rem;
  width: 30rem;
  border-radius: 20px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background: white;
}
.bio-form {
  height: 100%;
  padding: 2rem 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
label {
  width: 100%;
  height: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  font-size: 1rem;
}

.input-text, .input-dropdown {
  height: 100%;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #231f20;
  padding: 2px 5px;
}

option {
  border-radius: 0;
}

.address-label, .form-array {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.input-group {
  width: 40%;
  margin-bottom: 0.5rem;
}


.label-array {
  height: 6rem;
  overflow-y: scroll;
}

.btn-delete {
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid red;
  color: red;
  font-size: smaller;
  padding: 2px;
  cursor: pointer;
}

button {
  background: #ffffff;
  width: 40%;
  border-radius: 5px;
  border: 1px solid #231f20;
  padding: 5px 0;
  cursor: pointer;
}

.btn-add {
  border: 1px solid #3aa89b;
  color: #3aa89b;
}

.btn-submit {
  border: 1px solid #3aa89b;
  background: #3aa89b;
  color: white;
}

.btn-submit-fail {
  border: 1px solid #505959;
  background: #505959;
  color: white;
  cursor: auto;
}

.no-friends {
  font-style: italic;
}


//https://codepen.io/GhostRider/pen/oNvoNv
.label-array::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
.label-array::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
}
.label-array::-webkit-scrollbar-thumb
{
  background-color: #313131;
  border: 2px solid #555555;
}






