<div class="bio-main-div">
  <form class="bio-form" [formGroup]="bioForm">
    <button (click)="showForm()">Log Form</button>
    <label>
      First Name
      <input class="input-text"
             type="text"
             formControlName="firstName">
    </label>
    <label>
      Last Name
      <input class="input-text"
             type="text"
             formControlName="lastName">
    </label>
    <label>
      City
      <select class="input-dropdown"
              name="input-dropdown"
              formControlName="city">
        <option value="south park" selected>South Park</option>
        <option value="denver">Denver</option>
        <option value="imagination land">Imagination Land</option>
        <option value="washington dc">Washington D.C.</option>
      </select>
    </label>
    <label>
      Address
      <div formGroupName="address" class="address-label">
        <input class="input-text input-group"
               type="text"
               placeholder="street..."
               formControlName="street">
        <input class="input-text input-group"
               type="text"
               placeholder="number..."
               formControlName="number">
      </div>
    </label>
    <label *ngIf="friendsField.controls" >
      Friends
      <div formArrayName="friends" class="label-array">
        <div *ngFor="let friend of friendsField.controls; let i=index"
             class="form-array"
             [formGroupName]="i">
          <input class="input-text input-group"
                 type="text"
                 placeholder="first name..."
                 formControlName="firstNameFriend">
          <input class="input-text input-group"
                 type="text"
                 placeholder="last name..."
                 formControlName="lastNameFriend">
          <div class="btn-delete" (click)="deleteFriendsField(i)">delete</div>
        </div>
      </div>
    </label>
    <button class="btn-add" (click)="addFriendsField()">Add friend</button>
  </form>
</div>
