.character-image-main-div {
  height: 20rem;
  width: 20rem;
}

.eyes {
  fill: white;
}
.eyebrow {
  stroke: #231f20;;
  stroke-linecap:round;
  stroke-width:1.25px;
}

.iris {
  fill: #231f20;;
}
.mouth {
  stroke: #231f20;;
  fill: transparent;
  stroke-linecap:round;
  stroke-width:1.25px;
}
